{{!--
    By default the comment-list is disabled. To enable this feature just remove
    line 6 and line 18. It is also required to update the
    variable "disqus_shortname".
--}}
{{!--
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'readium'; // required: replace example with your forum shortname

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
--}}