<nav class="nav">
    
    <!-- Get in Touch -->
    <a href="/rss/" class="contact">
        <i class="fa fa-rss"></i>
    </a>
    <!-- Navigation -->
    <a href="#navigation-bottom" class="menu">
        <i class="fa fa-bars"></i>
    </a>
    <!-- Blog Logo -->
    {{#if @blog.logo}}
        <a class="blog-logo" href="/">
            <span style="background-image: url({{@blog.logo}})" >{{@blog.title}}</span>
        </a>
    {{/if}}
    
    <!--<a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a>-->
</nav>
