.blog-header {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  @include breakpoint(800) {
    padding: 0 $rs;
  }

  .blog-logo {
    width: $rs * 7.5;
    height: $rs * 7.5;
    position: absolute;
    top: -$rs * 3.75;
    right: 50%;
    margin-right: -$rs * 3.75;
    background-size: cover;
    border-radius: 50%;
    z-index: 99;
    text-indent: -9999px;
    border: 3px solid white;
    background-color: white;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  }
  .blog-title {
    margin: 0;
    padding: $rs * 5.25 $rs $rs / 2;
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    letter-spacing: -2px;
    outline: 0;
    line-height: 50px;
    word-break: break-word;
    color: #333333;
  }
  .blog-description {
    margin: 0 0 20px;
    padding: 0 $rs * 2;
    font-size: $rs / 8 * 9;
    line-height: 1.5;
    color: #666666;
    text-align: center;
    font-weight: 400;
  }
  .custom-links {
    margin: 0 0 50px;
    text-align: center;
    color: #cccccc;
    a {
      text-decoration: none;
      color: #999999;
      &:hover {
        color: #333333;
      }
    }
  }
}