
.bottom-closer {
  width: 100%;
  position: relative;
  overflow: hidden;
  .background-closer-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-indent: -9999px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .inner {
    width: 100%;
    position: relative;
    z-index: 99;
    max-width: 640px;
    padding: 120px 0 90px;
    text-align: center;
    margin: 0 auto;
    .blog-title {
      margin: 0;
      padding: 0 0 10px;
      font-size: 50px;
      text-align: center;
      font-weight: 700;
      letter-spacing: -2px;
      outline: 0;
      line-height: 50px;
      word-break: break-word;
      color: white;
      text-shadow: 0px 1px 16px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(0, 0, 0, 0.5);
    }
    .blog-description {
      margin: 0 0 50px;
      padding: 0 $rs * 2;
      font-size: $rs / 8 * 9;
      line-height: 1.5;
      color: white;
      text-align: center;
      font-weight: 400;
      text-shadow: 0px 1px 16px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(0, 0, 0, 0.5);
    }
    .custom-links {
      margin: 0 0 50px;
    }
    .btn {
      display: inline-block;
      text-align: center;
      letter-spacing: -0.02em;
      font-size: 15px;
      font-weight: 400;
      font-style: normal;
      text-decoration: none;
      cursor: pointer;
      height: 44px;
      background: #57ad68;
      color: white;
      vertical-align: middle;
      box-sizing: border-box;
      border-radius: 999em;
      line-height: 44px;
      padding: 0 18px;
    }
  }
}
