.post {
  .article-image {
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    .post-image-image {
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-indent: -9999px;
      padding-top: 33%;
      z-index: 1;
    }
    .post-meta {
      position: absolute;
      bottom: $rs * 5;
      left: 30%;
      right: 30%;
      z-index: 999;
      font-family: $font-sans;
      @include box-sizing(border-box);
      @include breakpoint(800) {
        left: $rs;
        right: $rs;
      }
    }
    .post-title {
      font-weight: 700;
      font-style: normal;
      letter-spacing: -0.04em;
      font-size: 50px;
      line-height: 1.1;
      color: white;
      margin-bottom: 16px;
      text-shadow: 0px 1px 16px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(0, 0, 0, 0.5);
    }
    .author-image {
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      margin-right: 8px;
      margin-bottom: -10px;
      float: left;
      background-size: cover;
      border-radius: 100%;
      text-indent: -9999px;
    }
    .author-name {
      display: inline;
    }
    .post-meta-text {
      color: rgba(255, 255, 255, 0.75);
      letter-spacing: -0.02em;
      font-weight: 400;
      font-style: normal;
      text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), 0px 0px 1px rgba(0, 0, 0, 0.5);
      font-size: 14px;
      overflow: hidden;
      font-family: $font-sans;
      white-space: nowrap;
      text-overflow: ellipsis;
      a {
        color: rgba(255, 255, 255, 0.75);
        &:hover {
          color: rgba(255, 255, 255, 1);
        }
      }
    }
    .fa-angle-down {
      font-size: 32px;
      margin: 64px auto 0;
      color: rgba(255, 255, 255, 0.75);
      &:hover {
        color: white;
      }
    }
    .topofpage {
      text-decoration: underline;
    }
  }
  .noarticleimage {
    .post-meta {
      font-family: $font-sans;
      padding-top: 60px;
    }
    .post-title {
      font-weight: 700;
      font-style: normal;
      letter-spacing: -0.04em;
      font-size: 50px;
      line-height: 1.1;
      color: #333332;
      margin-bottom: 16px;
    }
    .author-image {
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      margin-right: 8px;
      margin-bottom: -10px;
      float: left;
      background-size: cover;
      border-radius: 100%;
      text-indent: -9999px;
    }
    .author-name {
      display: inline;
    }
    .post-meta-text {
      color: #b3b3b1;
      letter-spacing: -0.02em;
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      overflow: hidden;
      font-family: $font-sans;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .post-content {
    width: 100%;
    font-family: $font-serif;
    color: #333333;
    h1, h2, h3 {
      font-family: $font-sans;
    }
    h3, h4, h5, h6 {
      letter-spacing: -0.02em;
      font-weight: 700;
      font-style: normal;
      font-size: 24px;
      line-height: 1.3;
      margin: 0;
      font-family: $font-sans;
      margin-bottom: 4px;
    }
    h2, h1 {
      letter-spacing: -0.02em;
      font-weight: 700;
      font-style: normal;
      font-size: 32px;
      line-height: 1.2;
      padding-top: 31px;
      margin-bottom: 4px;
    }
    p {
      font-weight: 400;
      font-style: normal;
      font-size: 22px;
      line-height: 30px;
      margin: 0;
      padding-bottom: 30px;
      color: #333333;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
    }
    a {
      color: #333333;
      text-decoration: underline;
    }
    img {
      max-width: 100%;
      margin: 0 auto;
    }
    figure {
      margin: 0;
      padding: 0 0 30px;
    }
    figcaption {
      font-weight: 400;
      font-style: italic;
      font-size: 16px;
      line-height: 1.3;
      color: #666665;
      outline: 0;
      z-index: 300;
      text-align: center;
    }
    code {
      background-color: #333333;
      color: white;
      border-color: #333333;
      font-family: Inconsolata, monospace, sans-serif;
      border-radius: 8px;
      padding: 2px 4px 4px;
      position: relative;
      top: -3px;
      white-space: nowrap;
      -webkit-hyphens: none;
      -moz-hyphens: none;
      hyphens: none;
    }
    pre > code {
      background-color: #333333;
      border-color: #333333;
      @include box-sizing(border-box);
      padding: modular-scale(1rem, 1, 1.33) modular-scale(1rem, 2, 1.33);
      color: white;
      line-height: 1.4;
      width: 100%;
      display: block;
      white-space: pre;
      overflow: auto;
      border-radius: 8px;
    }
    pre {
      padding: 0;
      margin: 0 0 2rem;
      @include box-sizing(border-box);
    }
    pre code, tt {
      white-space: -moz-pre-wrap;
      white-space: pre-wrap;
      border: none;
    }
    hr {
      border: 0;
      padding: 0;
      display: block;
      width: 15%;
      margin: 30px auto;
      border: 0px solid #dddddd;
      border-top: 1px solid #dddddd;
    }
    blockquote {
      margin: 0 0 30px;
      border: none;
      p {
        letter-spacing: 0.01rem;
        font-weight: 400;
        font-style: italic;
        border-left: 3px solid #57ad68;
        padding-left: 20px;
        margin-left: -26px;
        padding-bottom: 3px;
      }
    }
    ul, ol {
      padding: 0 0 30px;
      margin: 0;
      li {
        padding: 0;
        font-weight: 400;
        font-style: normal;
        font-size: 23px;
        line-height: 30px;
        margin-left: 30px;
        margin-bottom: 12px;
        padding-top: 2px;
        p {
          padding: 0 0 golden-ratio(1rem, 1);
        }
      }
    }
    ol li {
      list-style-type: decimal;
    }
  }
  .bottom-teaser {
    padding: 50px 0;
    font-family: $font-sans;
    hr {
      border: 0;
      padding: 0;
      display: block;
      width: 15%;
      margin: 16px 0 16px 100px;
      border: 0px solid #dddddd;
      border-top: 1px solid #dddddd;
    }
    .isLeft {
      float: left;
      width: 47%;
      @include box-sizing(border-box);
      @include breakpoint(800) {
        width: 100%;
        padding-bottom: $rs * 2;
      }

      .index-headline {
        padding-bottom: 32px;
      }
      .author-image {
        display: block;
        width: 80px;
        height: 80px;
        float: left;
        background-size: cover;
        border-radius: 100%;
        text-indent: -9999px;
      }
      h4 {
        font-size: 18px;
        line-height: 1.1;
        font-weight: 700;
        padding: 0;
        margin: 0;
        padding-left: 100px;
      }
      p {
        font-size: 14px;
        line-height: 1.3;
        font-weight: 400;
        padding: 0;
        margin: 0;
        padding-left: 100px;
        &.published {
          color: #999999;
        }
      }
    }
    .isRight {
      float: right;
      width: 47%;
      @include box-sizing(border-box);
      @include breakpoint(800) {
        width: 100%;
      }

      .index-headline {
        padding-bottom: 32px;
      }
      .site-footer {
        margin: 0;
        padding: 0;
        color: #333333;
        text-align: left;
        font-size: 14px;
        line-height: 1.3;
        color: #999999;
        a {
          color: #333333;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        .poweredby {
          display: block;
          padding-bottom: 18px;
          font-weight: 700;
          color: #333333;
        }
      }
    }
  }
}

.share {
  text-align: right;
  padding: 20px 0 0;
  a {
    text-decoration: none;
    color: #bbbbbb;
    padding-left: 12px;
    .hidden {
      display: none;
    }
    &:hover {
      color: #333333;
    }
  }
}
