@import "bourbon/bourbon";

.cf {
  @include clearfix;
}

$rs: 16px;

$font-serif: Linux Libertine;
$font-sans: Open Sans, MundoSans, "Helvetica Neue", Arial, Helvetica, sans-serif;

@include font-face(icons, "../fonts/icons", normal, normal);

@import "mixins";
@import "icons";
@import "blogheader";
@import "post";


body {
  font-family: $font-sans;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

.logo-readium {
  position: fixed;
  left: 10px;
  top: 10px;
  width: $rs * 3;
  height: $rs * 3;
  background-color: black;
  overflow: hidden;
  z-index: 99;
  .logo {
    display: block;
    position: absolute;
    top: $rs / 2;
    left: $rs / 2;
    width: $rs * 2;
    height: $rs * 2;
    background-image: url("/assets/img/readium-logo.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.teaserimage {
  height: 450px;
  position: relative;
  overflow: hidden;
  background-color: black;
  .teaserimage-image {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    text-indent: -9999px;
  }
}



.content {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  @include box-sizing(border-box);
  @include breakpoint(800) {
    padding: 0 $rs * 2;
  }

  article {
    padding: 40px 0;
    border-bottom: 1px solid #f2f2f0;
    &:last-child {
      border-bottom: 0px;
    }
    .post-title {
      letter-spacing: -0.02em;
      font-weight: 700;
      font-style: normal;
      display: block;
      font-size: 28px;
      line-height: 1.1;
      margin: 0 0;
      a {
        text-decoration: none;
        color: #333332;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .post-excerpt {
      letter-spacing: -0.02em;
      font-weight: 300;
      font-style: normal;
      font-size: 20px;
      line-height: 1.3;
      color: #666665;
    }
    .post-meta {
      font-size: 14px;
      color: #b3b3b1;
      line-height: 30px;
      a {
        color: #b3b3b1;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.container.featured {
  padding-bottom: 40px;
}

.post-template .content {
  max-width: 700px;
}

.index-headline {
  border-top: 1px solid #dededc;
  margin: 0;
  padding: 16px 0;
  span {
    color: #b3b3b1;
    font-size: $rs / 8 * 5;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.archive-template {
  .index-headline.featured {
    display: none;
  }
}

.pagination {
  text-align: center;
  padding: $rs * 3 0 0;
  font-size: $rs / 4 * 3;
  a {
    color: #999999;
    text-decoration: none;
    &:hover {
      color: #333333;
    }
  }
}

.post-reading {
  position: absolute;
  top: 10px;
  right: 30px;
  line-height: 44px;
  display: inline-block;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.25);
  font-size: 14px;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  font-family: $font-sans;
  z-index: 999;
}

.tag-articleimage .post-reading {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.site-footer {
  margin: 0 auto;
  padding: $rs * 3 0;
  width: 100%;
  max-width: 640px;
  font-size: $rs / 4 * 3;
  text-align: center;
  color: #999999;
  line-height: $rs * 1.1;
  a {
    color: #666666;
    text-decoration: none;
    &:hover {
      color: #333333;
    }
  }
}


.bottom-closer {
  width: 100%;
  position: relative;
  overflow: hidden;
  .background-closer-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-indent: -9999px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .inner {
    width: 100%;
    position: relative;
    z-index: 99;
    max-width: 640px;
    padding: 120px 0 90px;
    text-align: center;
    margin: 0 auto;
    .blog-title {
      margin: 0;
      padding: 0 0 10px;
      font-size: 50px;
      text-align: center;
      font-weight: 700;
      letter-spacing: -2px;
      outline: 0;
      line-height: 50px;
      word-break: break-word;
      color: white;
      text-shadow: 0px 1px 16px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(0, 0, 0, 0.5);
    }
    .blog-description {
      margin: 0 0 50px;
      padding: 0 $rs * 2;
      font-size: $rs / 8 * 9;
      line-height: 1.5;
      color: white;
      text-align: center;
      font-weight: 400;
      text-shadow: 0px 1px 16px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(0, 0, 0, 0.5);
    }
    .custom-links {
      margin: 0 0 50px;
    }
    .btn {
      display: inline-block;
      text-align: center;
      letter-spacing: -0.02em;
      font-size: 15px;
      font-weight: 400;
      font-style: normal;
      text-decoration: none;
      cursor: pointer;
      height: 44px;
      background: #57ad68;
      color: white;
      vertical-align: middle;
      box-sizing: border-box;
      border-radius: 999em;
      line-height: 44px;
      padding: 0 18px;
    }
  }
}
