@font-face {
  font-family: "Vollkorn";
  src: url("/assets/fonts/Vollkorn-Regular.otf") format("opentype");
  src: url("/assets/fonts/vollkorn-regular-webfont.eot") format("embedded-opentype");
  src: url("/assets/fonts/vollkorn-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Vollkorn";
  src: url("/assets/fonts/Vollkorn-Italic.otf") format("opentype");
  src: url("/assets/fonts/vollkorn-italic-webfont.eot") format("embedded-opentype");
  src: url("/assets/fonts/vollkorn-italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "Vollkorn";
  src: url("/assets/fonts/Vollkorn-Medium.otf") format("opentype");
  src: url("/assets/fonts/vollkorn-medium-webfont.eot") format("embedded-opentype");
  src: url("/assets/fonts/vollkorn-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Vollkorn";
  src: url("/assets/fonts/Vollkorn-MediumItalic.otf") format("opentype");
  src: url("/assets/fonts/vollkorn-mediumitalic-webfont.eot") format("embedded-opentype");
  src: url("/assets/fonts/vollkorn-mediumitalic-webfont.woff") format("woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: "Vollkorn";
  src: url("/assets/fonts/Vollkorn-Semibold.otf") format("opentype");
  src: url("/assets/fonts/vollkorn-semibold-webfont.eot") format("embedded-opentype");
  src: url("/assets/fonts/vollkorn-semibold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Vollkorn";
  src: url("/assets/fonts/Vollkorn-SemiboldItalic.otf") format("opentype");
  src: url("/assets/fonts/vollkorn-semibolditalic-webfont.eot") format("embedded-opentype");
  src: url("/assets/fonts/vollkorn-semibolditalic-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: "SourceSansPro";
  src: url("/assets/fonts/SourceSansPro-Regular.otf.woff") format("opentype");
  src: url("/assets/fonts/SourceSansPro-Regular.eot") format("embedded-opentype");
  src: url("/assets/fonts/SourceSansPro-Regular.ttf.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "SourceSansPro";
  src: url("/assets/fonts/SourceSansPro-It.otf.woff") format("opentype");
  src: url("/assets/fonts/SourceSansPro-It.eot") format("embedded-opentype");
  src: url("/assets/fonts/SourceSansPro-It.ttf.woff") format("woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "SourceSansPro";
  src: url("/assets/fonts/SourceSansPro-Light.otf.woff") format("opentype");
  src: url("/assets/fonts/SourceSansPro-Light.eot") format("embedded-opentype");
  src: url("/assets/fonts/SourceSansPro-Light.ttf.woff") format("woff");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "SourceSansPro";
  src: url("/assets/fonts/SourceSansPro-LightIt.otf.woff") format("opentype");
  src: url("/assets/fonts/SourceSansPro-LightIt.eot") format("embedded-opentype");
  src: url("/assets/fonts/SourceSansPro-LightIt.ttf.woff") format("woff");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: "SourceSansPro";
  src: url("/assets/fonts/SourceSansPro-Bold.otf.woff") format("opentype");
  src: url("/assets/fonts/SourceSansPro-Bold.eot") format("embedded-opentype");
  src: url("/assets/fonts/SourceSansPro-Bold.ttf.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "SourceSansPro";
  src: url("/assets/fonts/SourceSansPro-BoldIt.otf.woff") format("opentype");
  src: url("/assets/fonts/SourceSansPro-BoldIt.eot") format("embedded-opentype");
  src: url("/assets/fonts/SourceSansPro-BoldIt.ttf.woff") format("woff");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/icons.woff") format("woff");
  src: url("../fonts/icons.ttf") format("truetype");
  src: url("../fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

.icons-ghost, .icons-feed, .icons-twitter, .icons-google-plus, .icons-facebook {
  font-family: "icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-decoration: none; }

.icons-ghost:before {
  content: "\e000"; }

.icons-feed:before {
  content: "\e001"; }

.icons-twitter:before {
  content: "\e002";
  font-size: 1.1em; }

.icons-google-plus:before {
  content: "\e003"; }

.icons-facebook:before {
  content: "\e004"; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

:focus {
  outline: 0; }

textarea {
  resize: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table;
    line-height: 0; }
  .clearfix:after {
    clear: both; }

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.block-left {
  display: block;
  float: left; }

.block-right {
  display: block;
  float: right; }

.mt-0 {
  margin-top: 0px; }

.mr-0 {
  margin-right: 0px; }

.mb-0 {
  margin-bottom: 0px; }

.ml-0 {
  margin-left: 0px; }

.mt-1 {
  margin-top: 1px; }

.mr-1 {
  margin-right: 1px; }

.mb-1 {
  margin-bottom: 1px; }

.ml-1 {
  margin-left: 1px; }

.mt-2 {
  margin-top: 2px; }

.mr-2 {
  margin-right: 2px; }

.mb-2 {
  margin-bottom: 2px; }

.ml-2 {
  margin-left: 2px; }

.mt-3 {
  margin-top: 3px; }

.mr-3 {
  margin-right: 3px; }

.mb-3 {
  margin-bottom: 3px; }

.ml-3 {
  margin-left: 3px; }

.mt-4 {
  margin-top: 4px; }

.mr-4 {
  margin-right: 4px; }

.mb-4 {
  margin-bottom: 4px; }

.ml-4 {
  margin-left: 4px; }

.mt-5 {
  margin-top: 5px; }

.mr-5 {
  margin-right: 5px; }

.mb-5 {
  margin-bottom: 5px; }

.ml-5 {
  margin-left: 5px; }

.mt-6 {
  margin-top: 6px; }

.mr-6 {
  margin-right: 6px; }

.mb-6 {
  margin-bottom: 6px; }

.ml-6 {
  margin-left: 6px; }

.mt-7 {
  margin-top: 7px; }

.mr-7 {
  margin-right: 7px; }

.mb-7 {
  margin-bottom: 7px; }

.ml-7 {
  margin-left: 7px; }

.mt-8 {
  margin-top: 8px; }

.mr-8 {
  margin-right: 8px; }

.mb-8 {
  margin-bottom: 8px; }

.ml-8 {
  margin-left: 8px; }

.mt-9 {
  margin-top: 9px; }

.mr-9 {
  margin-right: 9px; }

.mb-9 {
  margin-bottom: 9px; }

.ml-9 {
  margin-left: 9px; }

.mt-10 {
  margin-top: 10px; }

.mr-10 {
  margin-right: 10px; }

.mb-10 {
  margin-bottom: 10px; }

.ml-10 {
  margin-left: 10px; }

.mt-15 {
  margin-top: 15px; }

.mr-15 {
  margin-right: 15px; }

.mb-15 {
  margin-bottom: 15px; }

.ml-15 {
  margin-left: 15px; }

.mt-20 {
  margin-top: 20px; }

.mr-20 {
  margin-right: 20px; }

.mb-20 {
  margin-bottom: 20px; }

.ml-20 {
  margin-left: 20px; }

.mt-25 {
  margin-top: 25px; }

.mr-25 {
  margin-right: 25px; }

.mb-25 {
  margin-bottom: 25px; }

.ml-25 {
  margin-left: 25px; }

.mt-30 {
  margin-top: 30px; }

.mr-30 {
  margin-right: 30px; }

.mb-30 {
  margin-bottom: 30px; }

.ml-30 {
  margin-left: 30px; }

.mt-35 {
  margin-top: 35px; }

.mr-35 {
  margin-right: 35px; }

.mb-35 {
  margin-bottom: 35px; }

.ml-35 {
  margin-left: 35px; }

.mt-40 {
  margin-top: 40px; }

.mr-40 {
  margin-right: 40px; }

.mb-40 {
  margin-bottom: 40px; }

.ml-40 {
  margin-left: 40px; }

.mt-45 {
  margin-top: 45px; }

.mr-45 {
  margin-right: 45px; }

.mb-45 {
  margin-bottom: 45px; }

.ml-45 {
  margin-left: 45px; }

.mt-50 {
  margin-top: 50px; }

.mr-50 {
  margin-right: 50px; }

.mb-50 {
  margin-bottom: 50px; }

.ml-50 {
  margin-left: 50px; }

.pt-0 {
  padding-top: 0px; }

.pr-0 {
  padding-right: 0px; }

.pb-0 {
  padding-bottom: 0px; }

.pl-0 {
  padding-left: 0px; }

.pt-1 {
  padding-top: 1px; }

.pr-1 {
  padding-right: 1px; }

.pb-1 {
  padding-bottom: 1px; }

.pl-1 {
  padding-left: 1px; }

.pt-2 {
  padding-top: 2px; }

.pr-2 {
  padding-right: 2px; }

.pb-2 {
  padding-bottom: 2px; }

.pl-2 {
  padding-left: 2px; }

.pt-3 {
  padding-top: 3px; }

.pr-3 {
  padding-right: 3px; }

.pb-3 {
  padding-bottom: 3px; }

.pl-3 {
  padding-left: 3px; }

.pt-4 {
  padding-top: 4px; }

.pr-4 {
  padding-right: 4px; }

.pb-4 {
  padding-bottom: 4px; }

.pl-4 {
  padding-left: 4px; }

.pt-5 {
  padding-top: 5px; }

.pr-5 {
  padding-right: 5px; }

.pb-5 {
  padding-bottom: 5px; }

.pl-5 {
  padding-left: 5px; }

.pt-6 {
  padding-top: 6px; }

.pr-6 {
  padding-right: 6px; }

.pb-6 {
  padding-bottom: 6px; }

.pl-6 {
  padding-left: 6px; }

.pt-7 {
  padding-top: 7px; }

.pr-7 {
  padding-right: 7px; }

.pb-7 {
  padding-bottom: 7px; }

.pl-7 {
  padding-left: 7px; }

.pt-8 {
  padding-top: 8px; }

.pr-8 {
  padding-right: 8px; }

.pb-8 {
  padding-bottom: 8px; }

.pl-8 {
  padding-left: 8px; }

.pt-9 {
  padding-top: 9px; }

.pr-9 {
  padding-right: 9px; }

.pb-9 {
  padding-bottom: 9px; }

.pl-9 {
  padding-left: 9px; }

.pt-10 {
  padding-top: 10px; }

.pr-10 {
  padding-right: 10px; }

.pb-10 {
  padding-bottom: 10px; }

.pl-10 {
  padding-left: 10px; }

.pt-15 {
  padding-top: 15px; }

.pr-15 {
  padding-right: 15px; }

.pb-15 {
  padding-bottom: 15px; }

.pl-15 {
  padding-left: 15px; }

.pt-20 {
  padding-top: 20px; }

.pr-20 {
  padding-right: 20px; }

.pb-20 {
  padding-bottom: 20px; }

.pl-20 {
  padding-left: 20px; }

.pt-25 {
  padding-top: 25px; }

.pr-25 {
  padding-right: 25px; }

.pb-25 {
  padding-bottom: 25px; }

.pl-25 {
  padding-left: 25px; }

.pt-30 {
  padding-top: 30px; }

.pr-30 {
  padding-right: 30px; }

.pb-30 {
  padding-bottom: 30px; }

.pl-30 {
  padding-left: 30px; }

.pt-35 {
  padding-top: 35px; }

.pr-35 {
  padding-right: 35px; }

.pb-35 {
  padding-bottom: 35px; }

.pl-35 {
  padding-left: 35px; }

.pt-40 {
  padding-top: 40px; }

.pr-40 {
  padding-right: 40px; }

.pb-40 {
  padding-bottom: 40px; }

.pl-40 {
  padding-left: 40px; }

.pt-45 {
  padding-top: 45px; }

.pr-45 {
  padding-right: 45px; }

.pb-45 {
  padding-bottom: 45px; }

.pl-45 {
  padding-left: 45px; }

.pt-50 {
  padding-top: 50px; }

.pr-50 {
  padding-right: 50px; }

.pb-50 {
  padding-bottom: 50px; }

.pl-50 {
  padding-left: 50px; }

@media only screen and (max-width: 1000px) {
  body {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Vollkorn, Georgia, serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig"; }

  .sidebar {
    height: 320px;
    width: 100%;
    background: #303538 no-repeat center center;
    background-size: cover;
    font-family: SourceSansPro, sans-serif;
    position: relative; }
    .sidebar .sidebar__logo {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 44px;
      height: 44px;
      z-index: 99;
      background-color: #111111; }
      .sidebar .sidebar__logo .sidebar__logo__image {
        width: 22px;
        margin: 11px; }
    .sidebar .sidebar__information {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      max-width: 810px;
      box-sizing: border-box;
      padding: 16px; }
      .sidebar .sidebar__information .sidebar__information__title {
        font-size: 16px;
        margin: 0;
        padding: 0;
        line-height: 24px;
        color: white; }
      .sidebar .sidebar__information .sidebar__userimage {
        width: 80px;
        height: 80px;
        border-radius: 80px;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        margin: 0 auto 16px; }
      .sidebar .sidebar__information .sidebar__information__description {
        font-size: 16px;
        margin: 0;
        padding: 0;
        line-height: 24px;
        color: #cccccc;
        font-weight: 400; }
      .sidebar .sidebar__information .sidebar__information__footer {
        padding: 0; }
        .sidebar .sidebar__information .sidebar__information__footer a {
          text-decoration: none;
          color: white; }
          .sidebar .sidebar__information .sidebar__information__footer a:hover {
            color: #f5e395; }

  .contentlist {
    width: 100%; }
    .contentlist .contentlist__inner {
      width: 100%;
      max-width: 810px;
      box-sizing: border-box;
      padding: 50px 25px; }
    .contentlist .contentlist__header {
      height: 40px;
      line-height: 40px;
      border-top: 1px solid #dededc;
      border-bottom: 1px solid #dededc;
      font-size: 16px;
      font-family: SourceSansPro, sans-serif; }
      .contentlist .contentlist__header .pagination {
        line-height: 40px;
        font-size: 12px;
        color: #b3b3b1;
        text-transform: uppercase;
        width: 50%;
        float: right;
        text-align: right; }
      .contentlist .contentlist__header h1 {
        line-height: 40px;
        font-size: 12px;
        color: #b3b3b1;
        text-transform: uppercase;
        width: 50%;
        float: left;
        margin: 0;
        padding: 0; }
    .contentlist .contentlist__article {
      padding: 32px 0;
      display: block;
      border-bottom: 1px solid #f2f2f0;
      position: relative; }
      .contentlist .contentlist__article .contentlist__article__headline {
        font-size: 32px;
        line-height: 35.2px;
        font-weight: 800;
        padding: 0 64px 8px 0;
        margin: 0;
        font-family: SourceSansPro, sans-serif; }
        .contentlist .contentlist__article .contentlist__article__headline a {
          text-decoration: none;
          color: #111111; }
          .contentlist .contentlist__article .contentlist__article__headline a:hover {
            color: #e97f02; }
      .contentlist .contentlist__article .contentlist__article__userimage {
        position: absolute;
        right: 0;
        margin: 4px;
        width: 32px;
        height: 32px;
        overflow: hidden;
        background-color: #f2f2f0;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        background-size: 100%; }
    .contentlist .contentlist__article__excerpt p {
      font-size: 16px;
      line-height: 24px;
      color: #999999;
      margin: 0;
      padding: 0 0 8px;
      font-family: Vollkorn, Georgia, serif; }
    .contentlist .contentlist__article__meta {
      font-size: 12px;
      line-height: 24px;
      color: #cccccc;
      font-family: SourceSansPro, sans-serif; }

  .contentlist__pagination {
    padding: 16px 0; }
    .contentlist__pagination nav {
      display: block;
      text-align: center;
      font-size: 12px;
      line-height: 24px;
      color: #cccccc;
      font-family: SourceSansPro, sans-serif; }
      .contentlist__pagination nav a {
        padding: 0 8px;
        color: #111111; }
        .contentlist__pagination nav a:hover {
          color: #e97f02; }

  .footer {
    border-top: 1px solid #f2f2f0;
    padding: 16px 0;
    position: relative;
    margin: 64px 0 0;
    padding: 64px 0 16px;
    line-height: 24px;
    font-size: 12px;
    color: #cccccc;
    text-align: center;
    font-family: SourceSansPro, sans-serif; }
    .footer a {
      color: #111111; }

  .site-footer a {
    text-decoration: underline; }
    .site-footer a:hover {
      color: #e97f02; }

  .poweredby .icons-ghost {
    font-weight: 700;
    text-decoration: none; }
    .poweredby .icons-ghost:hover {
      text-decoration: none; }
    .poweredby .icons-ghost:before {
      font-size: 0.6rem;
      margin-right: 0.3em; }

  .subscribe {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -16px;
    left: 50%;
    margin-left: -16px;
    border: #f2f2f0 1px solid;
    text-align: center;
    line-height: 32px;
    border-radius: 50px;
    background: white;
    transition: box-shadow 0.5s; }
    .subscribe:before {
      color: #cccccc;
      font-size: 12px;
      position: absolute;
      top: -1px;
      left: 11px;
      font-weight: 700;
      transition: color 0.5s ease; }
    .subscribe:hover {
      box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 3px;
      transition: box-shadow 0.25s; }
      .subscribe:hover:before {
        color: #50585d; }

  .tooltip {
    opacity: 0;
    display: inline-block;
    padding: 4px 8px 5px;
    position: absolute;
    top: -24px;
    left: -32px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    background: #50585d;
    border-radius: 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, top 0.3s ease; }
    .tooltip:after {
      content: "";
      border-width: 5px 5px 0;
      border-style: solid;
      border-color: #50585d transparent;
      display: block;
      position: absolute;
      bottom: -4px;
      left: 50%;
      margin-left: -5px;
      z-index: 220;
      width: 0; }

  .subscribe:hover .tooltip {
    opacity: 1;
    top: -33px; }

  .side-menu li a {
    font-family: arial;
    color: white; }
    .side-menu li a:hover {
      color: #75d50b !important; }

  .contentpost {
    padding: 0; }
    .contentpost .contentpost__logo {
      position: fixed;
      top: 10px;
      left: 10px;
      width: 44px;
      height: 44px;
      z-index: 99;
      background-color: #111111; }
      .contentpost .contentpost__logo i {
        width: 36px;
        margin: 11px 0 0 13px;
        color: white;
        font-size: 21px; }
    .contentpost #img-post-cover {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      padding-top: 50%;
      background-size: cover;
      margin-bottom: 48px; }
    .contentpost .contentpost__inner {
      max-width: 550px;
      width: 90%;
      margin: 0 auto;
      position: relative; }
    .contentpost .contentpost__sidebar {
      display: none; }
    .contentpost .contentpost__footerbar {
      border-top: 1px #cccccc solid;
      padding: 32px 0;
      margin: 32px 0 0; }
      .contentpost .contentpost__footerbar .contentpost__userimage {
        width: 48px;
        height: 48px;
        border-radius: 48px;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        float: left;
        margin: 0 16px 0 0; }
      .contentpost .contentpost__footerbar .contentpost__author {
        position: relative;
        padding: 0 0 16px;
        width: 60%;
        float: left;
        text-align: left; }
        .contentpost .contentpost__footerbar .contentpost__author h4 {
          padding: 0;
          margin: 0;
          font-size: 16px;
          line-height: 24px;
          color: #111111;
          font-family: SourceSansPro, sans-serif;
          font-weight: 800; }
        .contentpost .contentpost__footerbar .contentpost__author p {
          padding: 0;
          margin: 0;
          font-size: 14px;
          line-height: 19.2px;
          font-style: italic;
          color: #cccccc;
          font-family: Vollkorn, Georgia, serif; }
    .contentpost .contentpost__sidebar__meta {
      padding: 0;
      text-align: right; }
      .contentpost .contentpost__sidebar__meta h5 {
        font-size: 12px;
        line-height: 24px;
        margin: 0;
        padding: 0;
        font-weight: 800;
        color: #111111;
        font-family: SourceSansPro, sans-serif; }
      .contentpost .contentpost__sidebar__meta time {
        padding: 0;
        margin: 0;
        font-size: 12px;
        line-height: 16px;
        text-align: right;
        color: #cccccc;
        font-family: Vollkorn, Georgia, serif; }
    .contentpost .contentpost__meta {
      font-size: 16px;
      line-height: 16px;
      color: #cccccc;
      font-family: SourceSansPro, sans-serif; }
    .contentpost .contentpost__headline {
      font-size: 48px;
      line-height: 48px;
      padding: 16px 0 32px;
      margin: 0;
      font-family: SourceSansPro, sans-serif;
      letter-spacing: -2px;
      font-weight: 800; }
    .contentpost .contentpost__articlecontent {
      font-size: 22px;
      line-height: 30px; }
      .contentpost .contentpost__articlecontent a {
        color: #111111;
        text-decoration: underline;
        transition: color ease 0.3s; }
        .contentpost .contentpost__articlecontent a:hover {
          color: #e97f02; }
      .contentpost .contentpost__articlecontent ::-moz-selection, .contentpost .contentpost__articlecontent ::selection {
        color: #111111;
        background: #e5a3ba;
        text-shadow: none; }
      .contentpost .contentpost__articlecontent h1, .contentpost .contentpost__articlecontent h2, .contentpost .contentpost__articlecontent h3, .contentpost .contentpost__articlecontent h4, .contentpost .contentpost__articlecontent h5, .contentpost .contentpost__articlecontent h6 {
        text-rendering: optimizeLegibility;
        margin: 0;
        padding: 0;
        font-family: SourceSansPro, sans-serif;
        font-weight: 800; }
      .contentpost .contentpost__articlecontent h1 {
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -2px;
        text-indent: -3px;
        margin: 30px 0; }
      .contentpost .contentpost__articlecontent h2 {
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -1px;
        text-indent: -2px;
        margin: 30px 0; }
      .contentpost .contentpost__articlecontent h3 {
        font-size: 22px;
        line-height: 30px; }
      .contentpost .contentpost__articlecontent h4, .contentpost .contentpost__articlecontent h5, .contentpost .contentpost__articlecontent h6 {
        font-size: 22px;
        line-height: 30px;
        font-family: Vollkorn, Georgia, serif; }
      .contentpost .contentpost__articlecontent img {
        max-width: 100%; }
      .contentpost .contentpost__articlecontent p {
        padding: 0 0 30px;
        margin: 0; }
      .contentpost .contentpost__articlecontent code {
        background-color: #cccccc;
        border-color: whitesmoke;
        font-family: Inconsolata, monospace, sans-serif;
        font-size: 16px; }
      .contentpost .contentpost__articlecontent pre {
        padding: 0;
        margin: 0 0 2rem; }
        .contentpost .contentpost__articlecontent pre > code {
          background-color: whitesmoke;
          border-color: whitesmoke;
          padding: 12px 24px;
          color: #999999;
          font-size: 1.1rem;
          line-height: 1.5rem;
          display: block;
          white-space: pre;
          overflow: auto; }
        .contentpost .contentpost__articlecontent pre code {
          white-space: -moz-pre-wrap;
          white-space: pre-wrap;
          border: 0; }
      .contentpost .contentpost__articlecontent tt {
        white-space: -moz-pre-wrap;
        white-space: pre-wrap;
        border: 0; }
      .contentpost .contentpost__articlecontent hr {
        border: 0;
        padding: 0;
        display: block;
        width: 20%;
        margin: 16px auto 48px;
        border: 1px solid #cccccc; }
      .contentpost .contentpost__articlecontent blockquote {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 16px -64px 32px -64px;
        padding: 0;
        text-align: center;
        font-size: 35.2px;
        line-height: 48px;
        font-style: italic; }
        .contentpost .contentpost__articlecontent blockquote p {
          margin: 0.8em 0;
          font-style: italic; }
        .contentpost .contentpost__articlecontent blockquote small {
          display: inline-block;
          margin: 0.8em 0 0.8em 1.5em;
          font-size: 0.9em;
          color: #cccccc; }
      .contentpost .contentpost__articlecontent kbd {
        display: inline-block;
        margin-bottom: 8px;
        padding: 1px 8px;
        border: #cccccc 1px solid;
        color: #999999;
        text-shadow: white 0 1px 0;
        font-size: 0.9em;
        font-weight: 700;
        background: #cccccc;
        border-radius: 4px;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 white inset; }
      .contentpost .contentpost__articlecontent table {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0 0 16px;
        width: 100%;
        max-width: 100%;
        background-color: transparent; }
        .contentpost .contentpost__articlecontent table th, .contentpost .contentpost__articlecontent table td {
          padding: 8px;
          line-height: 24px;
          text-align: left;
          vertical-align: top;
          border-top: 1px solid #cccccc; }
        .contentpost .contentpost__articlecontent table th {
          color: black; }
        .contentpost .contentpost__articlecontent table caption + thead tr:first-child th, .contentpost .contentpost__articlecontent table caption + thead tr:first-child td {
          border-top: 0; }
        .contentpost .contentpost__articlecontent table colgroup + thead tr:first-child th, .contentpost .contentpost__articlecontent table colgroup + thead tr:first-child td {
          border-top: 0; }
        .contentpost .contentpost__articlecontent table thead:first-child tr:first-child th, .contentpost .contentpost__articlecontent table thead:first-child tr:first-child td {
          border-top: 0; }
        .contentpost .contentpost__articlecontent table tbody + tbody {
          border-top: 2px solid #efefef; }
        .contentpost .contentpost__articlecontent table table table {
          background-color: white; }
        .contentpost .contentpost__articlecontent table tbody > tr:nth-child(odd) > td, .contentpost .contentpost__articlecontent table tbody > tr:nth-child(odd) > th {
          background-color: #cccccc; }
        .contentpost .contentpost__articlecontent table.plain tbody > tr:nth-child(odd) > td, .contentpost .contentpost__articlecontent table.plain tbody > tr:nth-child(odd) > th {
          background: transparent; }
    .contentpost .contentpost__footer {
      text-align: right;
      margin: 64px 0; }
      .contentpost .contentpost__footer a {
        color: #cccccc;
        font-size: 22.4px;
        margin: 0 0 0 16px;
        text-decoration: none;
        transition: color ease 0.3s; }
        .contentpost .contentpost__footer a:hover {
          color: #e97f02; } }
.cf {
  *zoom: 1; }
  .cf:before, .cf:after {
    content: "";
    display: table;
    line-height: 0; }
  .cf:after {
    clear: both; }

body {
  background-color: white;
  position: absolut;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: SourceSansPro, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig"; }

.toggle {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 44px;
  height: 44px;
  z-index: 1;
  background-color: #111111;
  transition: all 0.5s ease-in-out; }
  .toggle i {
    width: 36px;
    margin: 11px 0 0 13px;
    color: white;
    font-size: 21px; }

.mm-opened .toggle {
  left: 450px; }
  .mm-opened .toggle i {
    color: #999999; }

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 30%;
  max-width: 500px;
  background: #303538 no-repeat center center;
  background-size: cover;
  font-family: SourceSansPro, sans-serif; }
  .sidebar .sidebar__logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 44px;
    height: 44px;
    z-index: 99;
    background-color: #111111; }
    .sidebar .sidebar__logo .sidebar__logo__image {
      width: 22px;
      margin: 11px; }
  .sidebar .sidebar__information {
    position: absolute;
    bottom: 0;
    padding: 50px 10% 10%; }
    .sidebar .sidebar__information .sidebar__userimage {
      width: 80px;
      height: 80px;
      border-radius: 80px;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      margin-bottom: 8px; }
    .sidebar .sidebar__information .sidebar__information__title {
      font-size: 32px;
      margin: 0;
      padding: 0;
      line-height: 48px;
      color: white; }
    .sidebar .sidebar__information .sidebar__information__description {
      font-size: 16px;
      margin: 0;
      padding: 8px 0;
      line-height: 24px;
      color: #cccccc;
      font-weight: normal; }

.sidebar__information__footer {
  padding: 8px 0; }
  .sidebar__information__footer a {
    text-decoration: none;
    color: white; }
    .sidebar__information__footer a:hover {
      color: #f5e395; }

.contentlist {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  overflow-x: auto; }
  .contentlist .contentlist__inner {
    width: 100%;
    max-width: 810px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 50px 85px; }
  .contentlist .contentlist__featured {
    padding: 0 0 32px; }
  .contentlist .contentlist__headline {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 32px;
    border-bottom: 1px #eeeeee solid;
    color: #bbbbbb; }
  .contentlist .contentlist__article {
    padding: 32px 0;
    display: block;
    position: relative; }
    .contentlist .contentlist__article .contentlist__article__headline {
      font-size: 32px;
      line-height: 35.2px;
      font-weight: 800;
      padding: 0 64px 8px 0;
      margin: 0;
      font-family: SourceSansPro, sans-serif; }
      .contentlist .contentlist__article .contentlist__article__headline a {
        text-decoration: none;
        color: #111111; }
        .contentlist .contentlist__article .contentlist__article__headline a:hover {
          color: #e97f02; }
    .contentlist .contentlist__article .contentlist__article__userimage {
      position: absolute;
      right: 0;
      margin: 4px;
      width: 32px;
      height: 32px;
      overflow: hidden;
      background-color: #f2f2f0;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      background-size: 100%; }
  .contentlist .contentlist__article__excerpt p {
    font-size: 17.6px;
    line-height: 24px;
    color: #999999;
    margin: 0;
    padding: 0 0 8px;
    font-family: Vollkorn, Georgia, serif; }
  .contentlist .contentlist__article__meta {
    font-size: 12px;
    line-height: 24px;
    color: #cccccc;
    font-family: SourceSansPro, sans-serif; }

.contentlist__pagination {
  padding: 16px 0; }
  .contentlist__pagination nav {
    display: block;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    color: #cccccc;
    font-family: SourceSansPro, sans-serif; }
    .contentlist__pagination nav a {
      padding: 0 8px;
      color: #111111; }
      .contentlist__pagination nav a:hover {
        color: #e97f02; }

.footer {
  border-top: 1px solid #f2f2f0;
  padding: 16px 0;
  position: relative;
  margin: 64px 0 0 0;
  padding: 64px 0 16px;
  line-height: 24px;
  font-size: 12px;
  color: #cccccc;
  text-align: center;
  font-family: SourceSansPro, sans-serif; }
  .footer a {
    color: #111111; }

.site-footer a {
  text-decoration: underline; }

.side-menu li a {
  font-family: arial; }
  .side-menu li a:hover {
    color: #75d50b !important; }

.site-footer a:hover {
  color: #e97f02; }

.poweredby .icons-ghost {
  font-weight: 700;
  text-decoration: none; }

.poweredby .icons-ghost:hover {
  text-decoration: none; }

.poweredby .icons-ghost:before {
  font-size: 0.6rem;
  margin-right: 0.3em; }

/* The subscribe icon on the footer */
.subscribe {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -16px;
  left: 50%;
  margin-left: -16px;
  border: #f2f2f0 1px solid;
  text-align: center;
  line-height: 32px;
  border-radius: 50px;
  background: white;
  transition: box-shadow 0.5s; }

/* The RSS icon, inserted via icon font */
.subscribe:before {
  color: #cccccc;
  font-size: 12px;
  position: absolute;
  top: -1px;
  left: 11px;
  font-weight: bold;
  transition: color 0.5s ease; }

.subscribe:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 3px;
  transition: box-shadow 0.25s; }

.subscribe:hover:before {
  color: #50585d; }

/* CSS tooltip saying "Subscribe!" - initially hidden */
.tooltip {
  opacity: 0;
  display: inline-block;
  padding: 4px 8px 5px 8px;
  position: absolute;
  top: -24px;
  left: -32px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  background: #50585d;
  border-radius: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease, top 0.3s ease;
  white-space: nowrap; }

.tooltip:after {
  content: "";
  border-width: 5px 5px 0 5px;
  border-style: solid;
  border-color: #50585d transparent;
  display: block;
  position: absolute;
  bottom: -4px;
  left: 50%;
  margin-left: -5px;
  z-index: 220;
  width: 0; }

.subscribe:hover .tooltip {
  opacity: 1;
  top: -33px; }

.contentpost {
  padding: 0 0; }
  .contentpost #img-post-cover {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 45%;
    background-size: cover;
    box-shadow: inset -32px 32px rgba(0, 0, 0, 0.66); }
  .contentpost .contentpost__inner {
    max-width: 700px;
    width: 50%;
    min-width: 400px;
    margin: 0 auto;
    padding: 80px 0 0;
    position: relative; }
  .contentpost .contentpost__sidebar {
    position: absolute;
    width: 160px;
    left: -230px; }
    .contentpost .contentpost__sidebar hr {
      width: 48px;
      height: 1px;
      background-color: #cccccc;
      margin: 16px 0 8px;
      float: right;
      border: 0px; }
    .contentpost .contentpost__sidebar .contentpost__author {
      position: relative;
      padding: 0 0 16px; }
      .contentpost .contentpost__sidebar .contentpost__author .contentpost__userimage {
        width: 80px;
        height: 80px;
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 80px;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center; }
      .contentpost .contentpost__sidebar .contentpost__author h4 {
        padding: 96px 0 8px;
        margin: 0;
        text-align: right;
        font-size: 16px;
        line-height: 19.2px;
        color: #111111;
        font-family: SourceSansPro, sans-serif;
        font-weight: 700; }
      .contentpost .contentpost__sidebar .contentpost__author p {
        padding: 0;
        margin: 0;
        font-size: 16px;
        line-height: 19.2px;
        text-align: right;
        color: #cccccc;
        font-family: SourceSansPro, sans-serif; }
  .contentpost .contentpost__footerbar {
    display: none; }
  .contentpost .contentpost__sidebar__meta {
    padding: 16px 0;
    text-align: right; }
    .contentpost .contentpost__sidebar__meta h5 {
      font-size: 16px;
      line-height: 19.2px;
      margin: 0;
      padding: 0 0 8px;
      font-weight: 800;
      color: #111111;
      font-family: SourceSansPro, sans-serif; }
    .contentpost .contentpost__sidebar__meta time {
      padding: 0;
      margin: 0;
      font-size: 16px;
      line-height: 19.2px;
      text-align: right;
      color: #cccccc;
      font-family: SourceSansPro, sans-serif; }
  .contentpost .contentpost__meta {
    font-size: 16px;
    line-height: 16px;
    color: #cccccc;
    font-family: SourceSansPro, sans-serif; }
  .contentpost .contentpost__headline {
    font-size: 64px;
    line-height: 64px;
    padding: 8px 0 32px;
    margin: 0;
    font-family: SourceSansPro, sans-serif;
    letter-spacing: -2px;
    font-weight: 800; }
  .contentpost .contentpost__articlecontent {
    font-size: 22px;
    line-height: 30px;
    font-family: Vollkorn, Georgia, serif; }
    .contentpost .contentpost__articlecontent a {
      color: #111111;
      text-decoration: underline;
      transition: color ease 0.3s; }
      .contentpost .contentpost__articlecontent a:hover {
        color: #e97f02; }
    .contentpost .contentpost__articlecontent h1, .contentpost .contentpost__articlecontent h2, .contentpost .contentpost__articlecontent h3, .contentpost .contentpost__articlecontent h4, .contentpost .contentpost__articlecontent h5, .contentpost .contentpost__articlecontent h6 {
      text-rendering: optimizeLegibility;
      margin: 0 0;
      padding: 0;
      font-family: SourceSansPro, sans-serif;
      font-weight: 700; }
    .contentpost .contentpost__articlecontent h1 {
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -2px;
      text-indent: -3px;
      margin: 30px 0; }
    .contentpost .contentpost__articlecontent h2 {
      font-size: 32px;
      line-height: 32px;
      letter-spacing: -1px;
      text-indent: -2px;
      margin: 30px 0; }
    .contentpost .contentpost__articlecontent h3 {
      font-size: 22px;
      line-height: 30px; }
    .contentpost .contentpost__articlecontent h4 {
      font-size: 22px;
      line-height: 30px;
      font-family: Vollkorn, Georgia, serif; }
    .contentpost .contentpost__articlecontent h5 {
      font-size: 22px;
      line-height: 30px;
      font-family: Vollkorn, Georgia, serif; }
    .contentpost .contentpost__articlecontent h6 {
      font-size: 22px;
      line-height: 30px;
      font-family: Vollkorn, Georgia, serif; }
    .contentpost .contentpost__articlecontent img {
      max-width: 100%; }
    .contentpost .contentpost__articlecontent p {
      padding: 0 0 30px;
      margin: 0; }
    .contentpost .contentpost__articlecontent code {
      background-color: #cccccc;
      border-color: whitesmoke;
      font-family: Inconsolata, monospace, sans-serif;
      font-size: 16px; }
    .contentpost .contentpost__articlecontent pre > code {
      background-color: whitesmoke;
      border-color: whitesmoke;
      padding: 12px 24px;
      color: #999999;
      font-size: 1.1rem;
      line-height: 1.5rem;
      display: block;
      white-space: pre;
      overflow: auto; }
    .contentpost .contentpost__articlecontent pre {
      padding: 0;
      margin: 0 0 2rem; }
    .contentpost .contentpost__articlecontent pre code, .contentpost .contentpost__articlecontent tt {
      white-space: -moz-pre-wrap;
      white-space: pre-wrap;
      border: none; }
    .contentpost .contentpost__articlecontent hr {
      border: 0;
      padding: 0;
      display: block;
      width: 20%;
      margin: 16px auto 48px auto;
      border: 1px solid #cccccc; }
    .contentpost .contentpost__articlecontent blockquote {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: -48px -32px;
      padding: 0 0;
      text-align: center;
      font-size: 35.2px;
      line-height: 48px;
      font-style: italic; }
    .contentpost .contentpost__articlecontent blockquote p {
      margin: 0.8em 0;
      font-style: italic; }
    .contentpost .contentpost__articlecontent blockquote small {
      display: inline-block;
      margin: 0.8em 0 0.8em 1.5em;
      font-size: 0.9em;
      color: #cccccc; }
    .contentpost .contentpost__articlecontent kbd {
      display: inline-block;
      margin-bottom: 8px;
      padding: 1px 8px;
      border: #cccccc 1px solid;
      color: #999999;
      text-shadow: white 0 1px 0;
      font-size: 0.9em;
      font-weight: bold;
      background: #cccccc;
      border-radius: 4px;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 white inset; }
    .contentpost .contentpost__articlecontent table {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0 0 16px;
      width: 100%;
      max-width: 100%;
      background-color: transparent; }
    .contentpost .contentpost__articlecontent table th, .contentpost .contentpost__articlecontent table td {
      padding: 8px;
      line-height: 24px;
      text-align: left;
      vertical-align: top;
      border-top: 1px solid #cccccc; }
    .contentpost .contentpost__articlecontent table th {
      color: black; }
    .contentpost .contentpost__articlecontent table caption + thead tr:first-child th, .contentpost .contentpost__articlecontent table caption + thead tr:first-child td, .contentpost .contentpost__articlecontent table colgroup + thead tr:first-child th, .contentpost .contentpost__articlecontent table colgroup + thead tr:first-child td, .contentpost .contentpost__articlecontent table thead:first-child tr:first-child th, .contentpost .contentpost__articlecontent table thead:first-child tr:first-child td {
      border-top: 0; }
    .contentpost .contentpost__articlecontent table tbody + tbody {
      border-top: 2px solid #efefef; }
    .contentpost .contentpost__articlecontent table table table {
      background-color: white; }
    .contentpost .contentpost__articlecontent table tbody > tr:nth-child(odd) > td, .contentpost .contentpost__articlecontent table tbody > tr:nth-child(odd) > th {
      background-color: #cccccc; }
    .contentpost .contentpost__articlecontent table.plain tbody > tr:nth-child(odd) > td, .contentpost .contentpost__articlecontent table.plain tbody > tr:nth-child(odd) > th {
      background: transparent; }
  .contentpost .contentpost__footer {
    text-align: right;
    margin: 64px 0 0;
    padding: 0 0 64px; }
    .contentpost .contentpost__footer a {
      color: #cccccc;
      font-size: 22.4px;
      margin: 0 0 0 16px;
      text-decoration: none;
      transition: color ease 0.3s; }
      .contentpost .contentpost__footer a:hover {
        color: #e97f02; }

.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none; }
